* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	height: 100vh;
}

.row {
	display: flex;
	justify-content: space-between;
}

.column {
	display: flex;
	flex-direction: column;
	width: 50%;
	border: 1px solid white;
}

.picker-container {
	display: flex;
	align-items: center;
	gap: 30px;
	border: 1px solid black;
	border-bottom: 0px;
}

label {
	font-family: "Poppins", sans-serif;
	font-size: 20px;
	width: 10rem;
	min-width: 3rem;
	cursor: pointer;
}

/*------ Color Picker Styles ------*/
.colorPicker {
	appearance: none;
	min-width: 100px;
	min-height: 100px;
	background-color: transparent;
	border: none;
	cursor: pointer;
}

.colorPicker::-webkit-color-swatch {
	border-radius: 15px;
	border: 1px solid black;
}
/*------ Color Picker Styles ------*/

.live-preview {
	margin: 5px;
	outline-style: solid;
	--selection-color: #00ffff;
}

.live-preview::selection {
	background-color: var(--selection-color);
}

.slider {
	-webkit-appearance: none;
	width: 100%;
	height: 25px;
	background-image: linear-gradient(to right, rgba(0, 0, 0, 0), #00ffff);
	outline: none;
	background-color: #00000000;
	border: 1px solid black;
}

.slider::-webkit-slider-thumb {
	-webkit-appearance: none;
	appearance: none;
	width: 10px;
	height: 25px;
	background: #4caf50;
	cursor: pointer;
	z-index: 999;
	border: 1px solid black;
	border-radius: 15%;
}

input[type="checkbox"] {
	/* Add if not using autoprefixer */
	-webkit-appearance: none;
	/* Remove most all native input styles */
	appearance: none;
	/* For iOS < 15 */
	background-color: var(--form-background);
	/* Not removed via appearance */
	margin: 0;

	font: inherit;
	color: currentColor;
	width: 2em;
	height: 2em;
	border: 0.15em solid currentColor;
	border-radius: 0.15em;
	transform: translateY(-0.075em);

	display: grid;
	place-content: center;
}

input[type="checkbox"]::before {
	content: "";
	width: 1em;
	height: 1em;
	clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
	transform: scale(0);
	transform-origin: bottom left;
	transition: 120ms transform ease-in-out;
	box-shadow: inset 1em 1em var(--form-control-color);
	background-color: white;
}

.vscode-light input[type="checkbox"]::before {
	background-color: black;
}

input[type="checkbox"]:checked::before {
	transform: scale(1);
}

input[type="checkbox"]:focus {
	outline: max(2px, 0.15em) solid currentColor;
	outline-offset: max(2px, 0.15em);
}

input[type="checkbox"]:disabled {
	--form-control-color: var(--form-control-disabled);

	color: var(--form-control-disabled);
	cursor: not-allowed;
}
